.content.page-contact {
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #6b4b96;
  border-radius: 1rem;
  width: 80%;
  min-width: 250px;
  max-width: 700px;
  padding: 1rem 1.5rem;
  margin: 2rem auto;

  box-shadow: 3px 5px 14px -1px #3e2a5799;
  -webkit-box-shadow: 3px 5px 14px -1px #3e2a5799;
  -moz-box-shadow: 3px 5px 14px -1px #3e2a5799;
  transition-duration: 0.6s;
}

.contact:hover {
  user-select: none;
}

.contact:hover:nth-child(even),
.contact:focus:nth-child(even) {
  transition: transform 1.2s;
  -webkit-transform:  translate(3px, 0px);
  -moz-transform:  translate(3px, 0px);
  -ms-transform:  translate(3px, 0px);
  -o-transform:  translate(3px, 0px);
  transform:  translate(3px, 0px);
  box-shadow: 13px 15px 29px -4px #3e2a5799;
  -webkit-box-shadow: 13px 15px 29px -4px #3e2a5799;
  -moz-box-shadow: 13px 15px 29px -4px #3e2a5799;
}

.contact:hover:nth-child(odd),
.contact:focus:nth-child(odd) {
  user-select: none;
  transition: transform 1.2s;
  -webkit-transform:  translate(3px, 0px);
  -moz-transform:  translate(3px, 0px);
  -ms-transform:  translate(3px, 0px);
  -o-transform:  translate(3px, 0px);
  transform:  translate(3px, 0px);
  box-shadow: 13px 15px 29px -4px #3e2a5799;
  -webkit-box-shadow: 13px 15px 29px -4px #3e2a5799;
  -moz-box-shadow: 13px 15px 29px -4px #3e2a5799;
}

.contact p {
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
}

h2 {
  margin: 0;
  text-align: center;
}

iframe {
  margin: 1rem 0;
  margin-bottom: 1.5rem;
  width: 40vw;
  height: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;

  border-radius: 1rem;
  width: 80%;
  min-width: 250px;
  margin: 2rem auto;

  box-shadow: 3px 5px 14px -1px #3e2a5799;
  -webkit-box-shadow: 3px 5px 14px -1px #3e2a5799;
  -moz-box-shadow: 3px 5px 14px -1px #3e2a5799;
  transition-duration: 0.6s;
}


.box:hover {
  box-shadow: 13px 15px 29px -4px #3e2a5799;
  -webkit-box-shadow: 13px 15px 29px -4px #3e2a5799;
  -moz-box-shadow: 13px 15px 29px -4px #3e2a5799;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

form h2 {
  padding: 1rem 0.5rem;
}

label:first-of-type {
  width: 100%;
  text-align: center;
  background-color: #6b4b96;
  border-radius: 1rem 1rem 0 0;
  color: white;
  margin: 0;
  margin-bottom: 0.5rem;
}

label {
  color: #6b4b96;
  margin: 0.5rem 0 0 1.2rem;
}

input, textarea {
  display: flex;
  color: #6b4b96;
  font-weight: 700;
  background-color: #f1f1f1;
  border: 1px solid #6b4b96;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 90%;
  margin: 0.5rem auto;
}

textarea {
  margin-bottom: 1.5rem;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #4d336e;
  border: 1px solid #4d336e;
  outline: none;
}

#btn1, #btn2 {
  cursor: pointer;
  display: flex;
  background-color: #6b4b96;
  border: 1px solid #6b4b96;
  color: white;
  border-radius: 0.5rem 05rem 0 0;
  width: 90%;
  margin: 0 auto;
  font-size: 0.915rem;
  font-weight: 400;
  justify-content: center;
}

#btn1 {
  padding: 1rem;
  border-radius: 1rem 1rem 0 0 ;
}

#btn2 {
  background-color: #d1cada;
  border-color: #d1cada;
  color: #6b4b96;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 2rem;
}

#btn1:hover,
#btn2:hover,
#btn1:focus,
#btn2:focus  {
  cursor: pointer;
  font-weight: 700;
  background-color: #4d336e;
  border-color: #4d336e;
  color: white;
}




@media only screen and (min-width: 600px){
  iframe {
    height: 300px;
  }

  label {
    margin: 0.5rem 0 0 1.8rem;
  }

}

@media only screen and (min-width: 1000px){
  iframe {
    max-width: 550px;
    height: 450px;
  }

  .box {
    max-width: 700px;
  }

  label {
    margin: 0.5rem 0 0 2.2rem;
  }
}