* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  min-width: 100vw;
  min-height: 80vh;
  height: 100%;
}

body {
  background-color: #f1f1f1;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100vw;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: #c6bad6;
  min-width: 80px;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 9rem 0 2rem 0;
  padding-top: 9rem;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.menu ul li {
  width: 120px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #ffffffaa;
  text-decoration: none;
  margin: 0.5rem 0;
}

.menu ul li a.active  {
  color: #6b4b96;
}

.menu ul li a:hover {
  color: #6b4b96;
  text-decoration: underline;
  font-weight: 700;
}

.menu ul li a .menu-title,
.menu ul li a img.purple {
  display: none;
}


.menu ul li a.active img.purple,
.menu ul li a:hover img.purple  {
  display: block;
}

.menu ul li a.active img.white,
.menu ul li a:hover img.white {
  display: none;
}

h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 1.5rem;
}

p {
  font-size: 1.0625rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  width: 100%;
  background: rgb(232,223,231);
}

.header,
.footer {
  background: linear-gradient(115deg, rgba(232,223,231,1) 0%, rgba(232,223,231,1) 16%, rgba(224,206,219,1) 17%, rgba(224,206,219,1) 28%, rgba(224,206,219,1) 30%, rgba(224,206,219,1) 32%, rgba(189,172,184,1) 33%, rgba(189,172,184,1) 39%, rgba(227,222,225,1) 40%, #e3dee1 57%, rgba(197,205,215,1) 58%, rgba(197,205,215,1) 64%, rgba(197,205,215,1) 68%, rgba(197,205,215,1) 70%, rgba(197,205,215,1) 74%, rgba(174,174,193,1) 75%, #b0adc2 77%, rgba(176,173,194,1) 79%, rgba(176,173,194,1) 81%, rgba(176,173,194,1) 83%, rgba(198,188,216,1) 85%, rgba(198,186,214,1) 100%);
}

.header img {
  width: 220px;
  filter: drop-shadow(3px 5px 2px #3e2a5766);
}

.content  {
  color: #ffffff;
  padding: 0.5rem;
  flex: 1;
  margin: 0.25rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6b4b96;
  min-height: 100px;
  padding: 1rem 1.5rem;
}

.footer img {
  height: 30px;
}

.footer p {
  font-size: 0.75rem;
  margin: 0;
}



@media only screen and (min-width: 600px){
  .menu ul {
    padding-top: 12rem;
  }

  .header {
    min-height: 200px;
  }

  .header img {
    width: 300px;
  }
}


@media only screen and (min-width: 1000px) {
  .menu {
    min-width: 200px;
  }

  .menu ul li a {
    justify-content: flex-start;
  }

  .menu ul li a .menu-title {
    display: block;
  }

  .header img {
    width: 320px;
  }
}