.info {
  display: flex;
  flex-direction: column;
  background-color: #6b4b96;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  border-radius: 1rem;
  width: 80%;
  transition-duration: 0.6s;
  box-shadow: 3px 5px 14px -1px #3e2a5799;
  -webkit-box-shadow: 3px 5px 14px -1px #3e2a5799;
  -moz-box-shadow: 3px 5px 14px -1px #3e2a5799;
}

.info:hover {
  cursor: pointer;
}

.info:hover:nth-child(even),
.info:focus:nth-child(even) {
  transition: transform 1.2s;
  -webkit-transform:  translate(20px, 0px);
  -moz-transform:  translate(20px, 0px);
  -ms-transform:  translate(20px, 0px);
  -o-transform:  translate(20px, 0px);
  transform:  translate(20px, 0px);
  box-shadow: 13px 15px 29px -4px #3e2a5799;
  -webkit-box-shadow: 13px 15px 29px -4px #3e2a5799;
  -moz-box-shadow: 13px 15px 29px -4px #3e2a5799;
}

.info:hover:nth-child(odd),
.info:focus:nth-child(odd) {
  cursor: pointer;
  transition: transform 1.2s;
  -webkit-transform:  translate(-20px, 0px);
  -moz-transform:  translate(-20px, 0px);
  -ms-transform:  translate(-20px, 0px);
  -o-transform:  translate(-20px, 0px);
  transform:  translate(-20px, 0px);
  box-shadow: 13px 15px 29px -4px #3e2a5799;
  -webkit-box-shadow: 13px 15px 29px -4px #3e2a5799;
  -moz-box-shadow: 13px 15px 29px -4px #3e2a5799;
}

.info p {
  margin: 0.5rem 0;
}

@media only screen and (min-width: 600px){
  .info:hover:nth-child(even),
  .info:focus:nth-child(even) {
    transition: transform 1.2s;
    -webkit-transform:  translate(50px, 0px);
    -moz-transform:  translate(50px, 0px);
    -ms-transform:  translate(50px, 0px);
    -o-transform:  translate(50px, 0px);
    transform:  translate(50px, 0px);
  }

  .info:hover:nth-child(odd),
  .info:focus:nth-child(odd) {
    cursor: pointer;
    transition: transform 1.2s;
    -webkit-transform:  translate(-50px, 0px);
    -moz-transform:  translate(-50px, 0px);
    -ms-transform:  translate(-50px, 0px);
    -o-transform:  translate(-50px, 0px);
    transform:  translate(-50px, 0px);
  }
}


@media only screen and (min-width: 1000px){
  .info:hover:nth-child(even),
  .info:focus:nth-child(even) {
    transition: transform 1.2s;
    -webkit-transform:  translate(70px, 0px);
    -moz-transform:  translate(70px, 0px);
    -ms-transform:  translate(70px, 0px);
    -o-transform:  translate(70px, 0px);
    transform:  translate(70px, 0px);
  }

  .info:hover:nth-child(odd),
  .info:focus:nth-child(odd) {
    cursor: pointer;
    transition: transform 1.2s;
    -webkit-transform:  translate(-70px, 0px);
    -moz-transform:  translate(-70px, 0px);
    -ms-transform:  translate(-70px, 0px);
    -o-transform:  translate(-70px, 0px);
    transform:  translate(-70px, 0px);
  }
}